.brunch .wrap_img_float {
  padding: 1.5em;
}

.brunch .wrap_item .wrap_img_float img {
  width: 100%;
}

.brunch .wrap_img_float .text_caption {
  font-size: smaller;
  opacity: .5;
  display: block;
  text-align: center;
}

.brunch p.wrap_item a.link {
  color: rgb(0, 40, 255);
  border-bottom: 1px solid rgb(0, 40, 255);
}

.brunch p.item_type_text {
  text-align: justify;
  letter-spacing: .05em;
}

.brunch p.item_type_bullet::before {
  content: '•';
  margin: 0 1em 0 2em;
}
