.postShorten-excerpt {
  text-align: justify;
  max-height: 6em;
  position: relative;
}

.postShorten-excerpt::after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
    rgba(255, 255, 255, 1) 5%, 
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.post-header-cover .post-header .post-title {
  text-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .8);
}

.post-header-cover .post-header .post-meta {
  background-color: rgba(0, 0, 0, .6);
  padding: 1rem 2rem;
}

.post .post-content > :first-child {
  margin-top: 8rem;
}

.post .post-content :not(blockquote):not(.alert) > p {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  text-indent: 0.6em;
  text-align: justify;
}

.post .post-content .ruby {
  opacity: 0.35;
}

a:hover {
  text-decoration: none;
}

hr {
  border-top: 0.35rem solid rgb(180, 120, 120);
  padding: 0.17rem;
  background-color: rgba(180, 120, 120, 0.5);
  border-bottom: 0.35rem solid rgb(180, 120, 120);
  margin: 4rem auto;
  width: 75%;
}

.post .post-content img {
  margin-top: 3.3rem;
  margin-bottom: 4.4rem;
  margin-left: auto;
  margin-right: auto;
}

